/* components/Hero.module.css */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* full viewport height */
    width: 100%;
    background: linear-gradient(80deg,
            hsl(var(--hero-bg-light-start)) 67%,
            hsl(var(--hero-bg-light-end)) 33%);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

.dark .hero {
    background: linear-gradient(80deg,
            hsl(var(--hero-bg-dark-start)) 67%,
            hsl(var(--hero-bg-dark-end)) 33%);
}

.title {
    font-size: 10rem;
    font-weight: bolder;
    color: (var(--hero-bg-light-end)) 67%;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 3rem;
    /* large size, adjust as needed */
}